<!DOCTYPE html>
<html lang="@Page.Language">

<head>
	<title>@Page.HeadTitle</title>
	@var og = Page.OpenGraph;
	@if (og != null)
	{
		<meta charset="UTF-8">
		<meta name="description" content="@og.Description">

		<meta property="og:type" content="@og.Type" />
		<meta property="og:title" content="@og.Title" />
		<meta property="og:description" content="@og.Description" />
		<meta property="og:image" content="@og.Image" />
		<meta property="og:url" content="@og.URL" />

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="@og.Title">
		<meta name="twitter:description" content="@og.Description">
		<meta name="twitter:image" content="@og.Image">
		<meta name="twitter:url" content="@og.URL">
	}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#075e54">

	<link rel="apple-touch-icon" href="/icons/logo-192x192.png" />
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="/lib/prism/prism.min.css">
	<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/bootstrap/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/spart/spart.css?v=1.0">
	<link rel="stylesheet" href="/css/login.css?v=1.2">
	<link rel="stylesheet" href="/css/home.css?v=1.0">
	<link rel="stylesheet" href="/css/chat.css?v=1.3">

	<script defer src="/lib/bootstrap/bootstrap.bundle.min.js"></script>
	<script defer src="/lib/dompurify/purify.min.js"></script>
	<script defer src="/lib/marked/marked.min.js"></script>
	<script defer src="/lib/marked/helpers.js"></script>
	<script defer src="/lib/prism/prism.min.js"></script>
	<script defer src="/js/svg.js?v=1.2"></script>
	<script type="importmap">
	{
		"imports": {
			"spart": "/spart/spart.js?v=1.1",
			"fetch": "/spart/fetch.js?v=1.0",
			"pages": "/spart/pages.js?v=1.1",
			"i18n": "/spart/i18n.js?v=1.0",
			"store": "/js/store.js?v=1.1",
			"login": "/js/login.js?v=1.4",
			"home": "/js/home.js?v=1.2",
			"chat": "/js/chat.js?v=1.5"
		}
	}
	</script>
	<script type="module">
		import { initializeApp } from 'login';

		await initializeApp();
		document.getElementById("app-loading-indicator")?.remove();

		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register("/sw.js")
				.then(reg => console.debug("Service Worker registered"))
				.catch(err => console.error("SW registration failed:", err));
		}
	</script>
</head>

<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="app-loading-indicator" class="loading-spinner"></div>
	<main class="spa-container"></main>
</body>

</html>